<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    <button md-button [routerLink]="['']">Chat</button>
    <button md-button [routerLink]="['profile']">Profile</button>
    <button md-button [routerLink]="['']">Button 3</button>
    <button md-button [routerLink]="['']">Button 4</button>
  </md-sidenav>


<md-toolbar color="primary">
    <md-icon class="menu-icon" (click)="sidenav.open()">menu</md-icon>
    <span class="example-spacer"></span>
    <h1 class="md-title text-center brand cin">Meta</h1>
    <span class="example-spacer"></span>
    <md-icon class="example-icon" *ngIf="isLoggedIn" (click)="editProfile()">person</md-icon>
    <md-icon class="example-icon" *ngIf="isLoggedIn" (click)="logout()">exit_to_app</md-icon>
</md-toolbar>

<div class="app-content">
  <router-outlet></router-outlet>
</div>

</md-sidenav-container>
